<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.side_to_side">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Side to Side"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">


        <meta-data
            android:name="com.google.android.gms.appid"
            android:value="583119427920-o1125rhsbe1rolsmph9vhoq4ovmq8pi0.apps.googleusercontent.com" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- AdMob or other Google services meta-data (if required) -->
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="your_admob_app_id"/>

            <meta-data
                android:name="io.flutter.plugins.googlemobileads.FLUTTER_GAME_TEMPLATE_VERSION"
                android:value="1.0.0"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
